h1{
    color: beige;
    box-sizing: border-box;
}
h2{
    color: beige;
}
body{
    background-color: rgb(139, 0, 139);
}
input{
    block-size: 40px;
    font-style: italic;
    color: darkorchid;
}